include README.md CHANGELOG.txt LICENSE.txt CONTRIBUTING.txt AUTHORS.txt MANIFEST.in setup.py .gitignore
recursive-include raysect *.py *.pyx *.pxd *.csv *.obj *.json *.c
recursive-include demos *.py *.pyx *.pxd *.csv *.obj
recursive-include docs *
